#Directories
bin/
bin-inter/
.vscode/
.vs/
#Files
*.sln
Aquarius/*.vcxproj
Aquarius/*.user
Aquarius/*.filters
Lyra/*.vcxproj
Lyra/*.user
Lyra/*.filters
AquariusCore/*.vcxproj
AquariusCore/*.user
AquariusCore/*.filters
*.vcxproj
*.user
git
